// Media object es un elemento muy comun y se usa en todos lados.
// Si no sabes que es, buscalo en google XD
@mixin media-object() {
  overflow: hidden;

  > .body {
    overflow: hidden;
  }

  /*
  la posible ausencia de un elemento "img.right" afecta la alineación del body.
  Permitamos reforzar la alineación deseada
   */
  &.left .body {
    text-align: left;
  }

  > .img {
    float: left;
    margin-right: 10px;

    img {
      display: block;
    }

    // necesitamos que pueda forzarse la alineación izq, en caso de tener media-objects anidados
    &.left {
      float: left;
      margin-right: 10px;
      margin-left: 0;

      //Si la imagen va a la izquierda, tambien el texto.
      + .body {
        text-align: left;
      }
    }

    &.right {
      float: right;
      margin-left: 10px;
      margin-right: 0;
      //Si la imagen va a la derecha, tambien el texto.
      + .body {
        text-align: right;
      }
    }
  }

}

// Implementation
.media-object {
  @include media-object;
  @include clearfix;
}